# Python for Data Analytics
## Week 2 lab: Data Structures and Control Flow

### Review Week 2 presentation notebooks

Lists, tuples,sets, and dictionaries are containers for other data. They can be used to combine your data in more complex ways.

|Data structure | Properties| Syntax|
|----|----|----|
|List | Ordered, mutable sequence | mylist = [1,2,3] |
|Tuple | Ordered, immutable sequence | mytuple = (1,2,3) |
|Set | Unordered set of unique values | set(1,2,3) |
|Dictionary | Mutable set of key, value pairs | mydict = {'first_value':1, 'second_value:2} |

### Logic operators

We test conditions using logic operators.

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| <= | less than or equal to |
| > | greater than |
| >= | greater than or equal to |

In [1]:
# NOTE: We declare variables using '='
a = 5
b = 7

In [2]:
# But compare them using '=='
a == b

False

In [3]:
# Test whether a does not equal b
a != b

True

In [4]:
# Logic expressions evaluate to True or False (datatype: Bool)
test = b > a
print(test)
print(type(test))

True
<class 'bool'>

### Testing conditions inside a loop
Combining loops with logic allows you to build more sophisticated code structures:

In [5]:
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

for day in days:
    if day == 'Sat' or day == 'Fri':
        location = 'TSI'
    elif day == 'Sun':
        location = 'Home!'
    else:
        location = 'Work + TSI'
    print(day, location)

Mon Work + TSI
Tue Work + TSI
Wed Work + TSI
Thu Work + TSI
Fri TSI
Sat TSI
Sun Home!

In [3]:
authorized_pets = ['small dog', 'cat', 'hamster','budgerigar']

print("Welcome to Nick's Apartment Block.")
my_pet = input("Type your pet's breed to see if it's accepted: ")

if my_pet in authorized_pets:
    print(f"Congratulations, your {my_pet} is welcome here!")
else:
    print(f"Sorry your {my_pet} is NOT ACCEPTED")

Welcome to Nick's Apartment Block.
Type your pet's breed to see if it's accepted: dog
Sorry your dog is NOT ACCEPTED

# Exercises

Please organise your solutions as a separate notebook and upload to the LMS (Moodle):
* Notebook (.ipynb)
* Generate pdf (File -> Download as -> PDF).

### EXERCISE 1

Review operations on lists (_adding/removing_ elements, _slicing_, _sorting_, etc.). Illustrate their usage on a list of your choice.

In [ ]:
# YOUR CODE HERE:

### EXERCISE 2

Review operations on sets (like _intersection_ or _pop_) using the table https://wesmckinney.com/book/python-builtin.html#tbl-table_set_operations and illustrate usage of at least 3 of them for a set of your choice.

In [ ]:
# YOUR CODE HERE:

### EXERCISE 3

Write a Python program to concatenate a tuple to a string.

In [ ]:
# YOUR CODE HERE:

### EXERCISE 4

Write a Python program to a string of comma-separated values into a tuple

In [ ]:
# YOUR CODE HERE:

### EXERCISE 5

Write a Python program to check if all values in a list are different

In [ ]:
# YOUR CODE HERE:

### EXERCISE 6

Write a Python program calculate the product, multiplying all the numbers of a given tuple.

Original Tuple:
(4, 3, 2, 2, -1, 18)
Product: -864

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product: 27648


Original Tuple:
(1, "Two", 3, "Four", 5)
Product: 15

In [ ]:
# YOUR CODE HERE:

### EXERCISE 7
Write a script to:

* Print out the numbers from 1 to 20 but replacing numbers with 'Fizz' if divisible by 3, 'Buzz' if divisible by '5', and 'FizzBuzz' if divisible by 3 and 5.

Hint: the 'mod' operator, denoted %, is used to check divisibility. Example: 10 % 2 == 0.

In [ ]:
# YOUR CODE HERE:

### EXERCISE 8

Write a program to:
1. Generate a random number (kept secret from the user) using random.randint(0, 32)
2. Prompt the user "Guess a number" and record their input.
3. Tell them if they were correct, too high, or too low.

BONUS POINTS: limit the number of guesses to 5.

In [ ]:
# YOUR CODE HERE:

### EXERCISE 9

Write a program that stores information about several European countries and their capital cities and conducts a quiz for the user: ask for a capital of a randomly selected country and validate the provided answer.

BONUS POINTS: Repeat 5 times and calculate the score

In [ ]:
# YOUR CODE HERE:

### EXERCISE 10

Develop a data structure for the following _Student_ object:

_Student_
* ID
* First name
* Last name
* Address
    * Number
    * Street
    * City
    * Country
    * Postcode
    * Coordinates
        * Longitude
        * Latitude
* Courses
    * Mathematics
        * Attendance
        * Final grade
    * Programming
        * Attendance
        * Final grade
    * Databases
        * Attendance
        * Final grade
    * IT
        * Attendance
        * Final grade

Using the developed data structure, compose a list fo 3-4 students. Use the composed list for:
1. Printing all student names as "Last name, First name"
2. Getting a list of all grades for a specified course
3. Checking that all ID are unique
4. Finding students with identical addresses
5. Finding a student with the smallest attendance (sum of course attendances)
6. Finding a student with the highest performance (sum of grades)
7. Removing one of the students (and re-printing the list)
8. Finding a pair of students with closest addesses (based on coordinates)

In [ ]:
# YOUR CODE HERE:

### EXERCISE 11

Develop a data structure for storing the graph data below:
<img src="https://raw.githubusercontent.com/DmitryPavlyuk/python-da/main/week2/img/city_graph.png">

Extend the data with population of Latvian cities: https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Latvia

Use the composed data structure for:
1. Listing all cities, ordering them by population
2. Listing all cities directly connected to Riga, ordering them by distance
3. Finding a closiest city directly cinnected to Daugavpils

In [ ]:
# YOUR CODE HERE:

### EXERCISE 12

Develop a data structure for storing the hierachical information of used cars:

Brand -> Model -> Car (year, price)

(1 brands, 2-3 models under each brand, 2-3 cars under each model). 

Fill the structure with real data from a public source - e.g., http://www.ss.lv

In [ ]:
# YOUR CODE HERE: